html, body {
  background-color: #444;
}
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board {
  background-color: #ccc;
  border-style: solid;
  border-width: 2px;
  border-color: #999;
  width: 180px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
}

.board li {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.board li.alive {
  background-color: #000;
}

button {
  margin: 5px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}
